<?xml version="1.0"?>
<launch>

    <!-- User Python Env -->
    <!-- <arg name="yolo_segmentation_ros_python" value=""/> -->

    <!-- Virtual Python Env -->
    <arg name="gaussian_slam_python" value="/home/rohit/workspace/software/anaconda3/envs/gslam/bin/python"/>

    <node name="mapper_moma_gslam_node" pkg="gaussian_slam_ros" type="mapper_moma_gslam.py" launch-prefix="$(arg gaussian_slam_python)" output="screen">
    </node>

</launch>
